main {
    min-height: 80vh;
}

.spacer {
    flex-grow: 1;
}

& .MuiToolbar-root {
    gap: 10px;
}

.zebra > *:nth-child(even){
    backdrop-filter: brightness(50%);
}

.zebra > *:nth-child(odd){
    backdrop-filter: brightness(80%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 400px;
    justify-content: center;
    align-items: center;
}