main {
    min-height: 80vh;
}

.spacer {
    flex-grow: 1;
}

& .MuiToolbar-root {
    gap: 10px;
}

.zebra > *:nth-child(even){
    backdrop-filter: brightness(50%);
}

.zebra > *:nth-child(odd){
    backdrop-filter: brightness(80%);
}